body {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
}
input{width:95%;
      height:30px;
}
#header {
    background-color: darkgoldenrod;
    width: 90%;
    height: 150px;
    text-align: center;
    line-height: 100px;
    font: 700;
}

#picture {
  
    background-image: url('Image/Register/4.jpg');
    width: 90%;
    height: 700px;
  
    background-repeat: no-repeat;
    background-size: 100%,100%;
}

#register {
    width: 250px;
    height: 450px;
    right: 20%;
    top: 35%;
    position: absolute;
    background-color: ActiveBorder;
}

#rth {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    text-align: center;
}

hr {
    color: darksalmon
}

.rtd {
    height: 30px;
    width: 100%;
}

.rtd-left {
    height: 60px;
    width: 20%;
    float: left;
}

.rtd-right {
    height: 60px;
    width: 70%;
    float: right;
}

a:hover {
    color: red;
}

#footer {
    height: 150px;
    width: 90%;
    background-color: darkgoldenrod;
}
